node_modules/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
ios/build/
ios/Pods/
*.log
.env
.env.*
e2e-tests/config/.env
e2e-tests/results/
*.jks
*.p12
*.clixml
facefield-release.keystore
